<!DOCTYPE html>
<html>
<head>
  <title>分类</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h3>邮件集分类：</h3>
    <h6>&nbsp;&nbsp;分类方式：TF-IDF计算出特征矩阵，使用K-means进行分类。</h6><br>

    {% for i in show %}
        <div class="card bg-secondary text-white">
            <div class="card-header">
                <h5><a href="/topics?category={{ i[0] }}" style="color: white">类别{{ i[0] }}</a>：</h5>
            </div>
            <div class="card-body">
                <h6>邮件数：{{ i[1] }}</h6>
            </div>
        </div><br>
    {% endfor %}

</div>

</body>
</html>