<!DOCTYPE html>
<html>
<head>
  <title>功能</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    <form method="POST" action="/enterprise/choose">
        <h5>选择功能：</h5><br>
        <button name="func" value="keywords" type="submit" class="btn btn-info" style="width: 100px;height: 100px">关键词云</button>
        <button name="func" value="relationship" type="submit" class="btn btn-info" style="width: 100px;height: 100px">关系网络</button>
    </form>
</div>

</body>
</html>