<!DOCTYPE html>
<html>
<head>
  <title>主题文档</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h3>类别{{ cate }}主题{{ topic }}的文档：</h3>
    <h6>&nbsp;&nbsp;内容：文档的基本信息，关键词，摘要。</h6><br>

    <div class="container">
        <div id="accordion">
            {% for i in range(0,len) %}
                <div class="card">
                <div class="card-header" style="background-color: darkgray;">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree{{ i }}" style="color: white">
                        NO：{{ i }} &nbsp;&nbsp;&nbsp;&nbsp;title：{{ title_list[i] }}<br>
                    </a>
                </div>
                <div id="collapseThree{{ i }}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        from：{{ from_list[i] }}<br><br>
                        to：{{ to_list[i] }}<br><br>
                        关键词：{{ key_list[i] }}<br><br>
                        摘要：{{ summary_list[i] }}<br><br>
                        原文：{{ doc_list[i] }}<br><br>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function cli() {
        document.getElementById("card").innerText='change'
    }
</script>

</body>
</html>