<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="5dd33e16b361498c8acd6070761446b8" class="chart-container" style="width:1500px; height:1000px;"></div>
    <script>
        var chart_5dd33e16b361498c8acd6070761446b8 = echarts.init(
            document.getElementById('5dd33e16b361498c8acd6070761446b8'), 'white', {renderer: 'canvas'});
        var option_5dd33e16b361498c8acd6070761446b8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 90,
            "girdSize": 20,
            "sizeRange": [
                50,
                200
            ],
            "data": [
                {
                    "name": "\u516c\u53f8",
                    "value": 120.13992474750971,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,87,112)"
                        }
                    }
                },
                {
                    "name": "\u53d1\u7968",
                    "value": 90.38945915883174,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,25,69)"
                        }
                    }
                },
                {
                    "name": "\u5b9e\u4e1a",
                    "value": 49.95622527764707,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,158,77)"
                        }
                    }
                },
                {
                    "name": "\u4f18\u60e0",
                    "value": 49.83786854851129,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,53,20)"
                        }
                    }
                },
                {
                    "name": "\u6709\u9650\u516c\u53f8",
                    "value": 48.85316977895769,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,36,111)"
                        }
                    }
                },
                {
                    "name": "\u5e7f\u544a",
                    "value": 40.767672142043395,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,116,1)"
                        }
                    }
                },
                {
                    "name": "\u4ee3\u5f00",
                    "value": 38.973481192659975,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,53,146)"
                        }
                    }
                },
                {
                    "name": "\u5408\u4f5c",
                    "value": 38.45186743149916,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,15,131)"
                        }
                    }
                },
                {
                    "name": "\u8fd0\u8f93",
                    "value": 37.99904718434369,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,78,47)"
                        }
                    }
                },
                {
                    "name": "\u8d1f\u8d23\u4eba",
                    "value": 37.680036709074855,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,51,65)"
                        }
                    }
                },
                {
                    "name": "\u6211\u53f8",
                    "value": 37.14207603032965,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,1,148)"
                        }
                    }
                },
                {
                    "name": "\u7ecf\u7406",
                    "value": 37.09679712775987,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,46,134)"
                        }
                    }
                },
                {
                    "name": "\u589e\u503c\u7a0e",
                    "value": 34.21078394026612,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,73,127)"
                        }
                    }
                },
                {
                    "name": "\u670d\u52a1",
                    "value": 32.73032806065996,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,88,122)"
                        }
                    }
                },
                {
                    "name": "\u7535\u8111",
                    "value": 31.764367820575274,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,148,23)"
                        }
                    }
                },
                {
                    "name": "\u4e0a\u7f51",
                    "value": 30.679228036148125,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,136,106)"
                        }
                    }
                },
                {
                    "name": "\u8d35\u53f8",
                    "value": 30.377911419987644,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,96,73)"
                        }
                    }
                },
                {
                    "name": "\u5730\u7a0e",
                    "value": 28.367996825164237,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,51,77)"
                        }
                    }
                },
                {
                    "name": "\u62b5\u6263",
                    "value": 28.080334977126192,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,87,23)"
                        }
                    }
                },
                {
                    "name": "\u70b9\u6570",
                    "value": 27.972618459893592,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,160,84)"
                        }
                    }
                },
                {
                    "name": "\u8d22\u52a1",
                    "value": 26.23877772408124,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,136,122)"
                        }
                    }
                },
                {
                    "name": "\u627f\u8bfa",
                    "value": 23.73766231656646,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,40,113)"
                        }
                    }
                },
                {
                    "name": "\u4e1a\u52a1",
                    "value": 23.52055933228064,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,87,65)"
                        }
                    }
                },
                {
                    "name": "\u6765\u7535",
                    "value": 21.87746116384212,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,81,99)"
                        }
                    }
                },
                {
                    "name": "\u8fdb\u9879",
                    "value": 21.713496362795823,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,149,76)"
                        }
                    }
                },
                {
                    "name": "\u771f\u7968",
                    "value": 21.27544582011149,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,3,30)"
                        }
                    }
                },
                {
                    "name": "\u4f01\u4e1a",
                    "value": 20.445432656326155,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,33,29)"
                        }
                    }
                },
                {
                    "name": "\u56fd\u7a0e",
                    "value": 19.98202356308246,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,144,63)"
                        }
                    }
                },
                {
                    "name": "\u5206\u516c\u53f8",
                    "value": 19.96094118146729,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,88,125)"
                        }
                    }
                },
                {
                    "name": "\u6df1\u5733\u5e02",
                    "value": 19.815420455951497,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,118,42)"
                        }
                    }
                },
                {
                    "name": "\u63d0\u4f9b",
                    "value": 19.76715171244884,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,2,91)"
                        }
                    }
                },
                {
                    "name": "\u5e0c\u671b",
                    "value": 19.248193597540965,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,79,53)"
                        }
                    }
                },
                {
                    "name": "\u7591\u8651",
                    "value": 19.094122212880027,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,125,123)"
                        }
                    }
                },
                {
                    "name": "\u54a8\u8be2",
                    "value": 19.03396671048713,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,157,83)"
                        }
                    }
                },
                {
                    "name": "\u6d77\u5173",
                    "value": 19.014564710017282,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,29,42)"
                        }
                    }
                },
                {
                    "name": "\u62c5\u5fc3",
                    "value": 19.00031900279341,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,97,113)"
                        }
                    }
                },
                {
                    "name": "\u5168\u56fd",
                    "value": 18.95982543536743,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,73,32)"
                        }
                    }
                },
                {
                    "name": "\u5c0f\u65f6",
                    "value": 18.423877392346075,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,82,136)"
                        }
                    }
                },
                {
                    "name": "\u4ed8\u6b3e",
                    "value": 18.218905054578975,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,73,69)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7ad9",
                    "value": 18.044771659546495,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,31,24)"
                        }
                    }
                },
                {
                    "name": "\u67e5\u8bc1",
                    "value": 17.918433440846023,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,116,20)"
                        }
                    }
                },
                {
                    "name": "\u7968\u636e",
                    "value": 17.613422300237268,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,137,153)"
                        }
                    }
                },
                {
                    "name": "\u5546\u8ba8",
                    "value": 16.926596498959192,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,139,38)"
                        }
                    }
                },
                {
                    "name": "\u4fe1\u606f",
                    "value": 16.29051480696595,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,126,16)"
                        }
                    }
                },
                {
                    "name": "\u70ed\u7ebf",
                    "value": 15.36892584214318,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,137,36)"
                        }
                    }
                },
                {
                    "name": "\u5e7f\u5dde",
                    "value": 14.730123493679795,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,6,95)"
                        }
                    }
                },
                {
                    "name": "\u989d\u5ea6",
                    "value": 14.181202581572515,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,56,1)"
                        }
                    }
                },
                {
                    "name": "\u67e5\u8be2",
                    "value": 13.978080521532526,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,112,26)"
                        }
                    }
                },
                {
                    "name": "\u7a0e\u70b9",
                    "value": 13.4163045840307,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,26,83)"
                        }
                    }
                },
                {
                    "name": "\u7f34\u6b3e",
                    "value": 13.36746733137186,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,140,71)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    }
};
        chart_5dd33e16b361498c8acd6070761446b8.setOption(option_5dd33e16b361498c8acd6070761446b8);
    </script>
</body>
</html>
