<!DOCTYPE html>
<html>
<head>
  <title>类别主题</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h3>类别{{ c }}的主题：</h3>
        <h6>&nbsp;&nbsp;主题获取方式：使用LDA，选择perplexity（困惑度）最小的主题数进行分类。</h6><br>

        {% for topic in value %}
            <div class="card bg-secondary text-white">
                <div class="card-header">
                    <h5><a href="/docs?cate={{ c }}&topic={{ topic[0] }}" style="color: white">主题{{ topic[0] }}</a>：</h5>
                </div>
                <div class="card-body">
                    <h6>主题关键词：
                        {% for keyword in topic[1] %}
                            {{ keyword+"，" }}
                        {% endfor %}
                    </h6>
                </div>
            </div><br>
        {% endfor %}

    </div>

</body>
</html>